<h1>User Account details</h1>

<ul>
  <li>
    <%= @user.fname %>
  </li>
  <li>
    <%= @user.lname %>
  </li>
   <li>
    <%= @user.email %>
  </li>
</ul>

<%= link_to 'Edit Profile', "/users/#{session[:user_id]}/edit", class: 'btn btn-primary' %>